@charset "utf-8";
/* CSS Document */

body{
	background-color: #E2E9F4;
	color: #2f3e46;
	/* color properties */

	font-family:"mrs-eaves-xl-serif", Cambria;
	/*at least four fonts, fave font, windows font, mac font, general family font */
	font-size: 1.125rem; /* 16px = 1 rem */ /* 22px = 1 em */
	line-height: 150%; /* adjust as needed */
	color: #2a2a2a;
	/* typography */

	margin: 0;
	padding: 0;
	/* borders, spacing*/
}

h1{
	font-family:"forma-djr-display", sans-serif;
}

h2{
	font-family: "forma-djr-display", sans-serif;
}

/* WRAPPER START */

.wrapper {
	background: white;

	/* max width 900px */
	width: 980px;
	margin-left:auto;
	margin-right: auto;
	margin-top: 15px;
	padding-right:40px;
	padding-left: 40px;
	padding-bottom: 30px;
	padding-top: 60px;
}

/* WRAPPER END */

.site-logo-image{
	width: 100px;
}

/* LEAD SECTION START */
	
.container {
	position: relative;
	display: inline-block;
}

.container img{
	display:block;
	width:100%;
	height:auto;
}

.overlay-text {
  	position: absolute;
  	top: 20%; 
  	left: 50%; 
  	transform: translate(-50%, -50%); 
  	color: #4a4e69; 
  	padding: 20px 20px; 
  	font-size: 20px; 
  	text-align: center;
}

.primary-statement{
	width: auto;
	background:#E2E9F4;
	padding: 20px 20px;
	box-shadow: 10px 10px 2px rgba(0,0,0,0.4);
	border-radius:100px;
}

/*
.primary-statement{
	position: absolute;
	top: 30px;
	left: 50%;
	transform: translate(-50%, 0%);
	padding: 30px;
	font-size: 40px;
	
	
	width: 600px;
	background:#E2E9F4;
	box-shadow: 10px 10px rgba(0,0,0,0.2);
	border-radius:100px;
  	
}
*/

.secondary-statement{
	position: absolute;
	top: 150px;
	left: 50%;
	transform: translate(-50%, 0%);

	width: 600px;
	background:#E2E9F4;
	box-shadow: 10px 10px 2px rgba(0,0,0,0.4);
	border-radius:100px;
}

/* LEAD SECTION END */

/* SITE NAVIGATION START */
.site-nav-flex{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	column-gap: 32px;
	font-weight: bold;
	font-size: 20px;
	position: fixed;
	background:white;
	padding-top: 10px;
	box-shadow: 0px 2px 15px 3px #4D5061;
	top:0px;
	width: 100%;
	z-index: 1;

}

.site-nav-flex a{
	color:#4D5061;
	text-decoration: none;

}

.site-nav-flex a:hover{
	color: black;
	border: 0px;
	text-decoration: underline;
}

/* SITE NAVIGATION END*/

/* ABOUT START */

.profile-container{
	display: grid;
	grid-template-columns: 1fr 2fr;
	/*fr is fraction property*/
	gap: 2rem 2rem;
	align-items:flex-start;
	text-align: center;
}

.profile-container-2{
	display:grid;
	gap: 1rem 2rem;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto auto;
	grid-template-areas:
		"yamberp yamberb yamberb"
		"peterb peterb peterp"
		"pollyp pollyb pollyb"
		"pipb pipb pipp"
		"simonp simonb simonb"
}

/*assign each element/class name a grid-area name*/

.yamber-bio{
	grid-area:yamberb;
}

.yamber-port{
	grid-area: yamberp;
}

.peter-bio{
	grid-area: peterb;
}

.peter-port{
	grid-area:peterp;
}

.polly-bio{
	grid-area: pollyb;
}

.polly-port{
	grid-area:pollyp;
}

.pip-bio{
	grid-area:pipb;
}

.pip-port{
	grid-area: pipp;
}

.simon-bio{
	grid-area: simonb;
}

.simon-port{
	grid-area:simonp;
}







.profile-container img{
	border-radius: 100%;
}

.profile-bio{
	text-align: left;
}

.profile-bio p{
	margin-top:0;
}

.showcase-container{
	display: grid;
	grid-template-columns: 2fr 2fr 2fr;
	gap: 2rem 4rem;
	align-items:baseline;
}
.gallery-container{
	display:grid;
	grid-template-columns: auto auto auto;
	gap: 2rem 4rem;
	align-items:center;
}


.gallery-container h4{
	text-align: center;
}

.page-title{
	background:#4a4e69;
	color:#E2E9F4;
	padding: 20px;
}

.footer{
	background: white;
	padding-top:3px;
	padding-bottom: 3px;
}